<div id="sidebar" class="s-content__sidebar large-4 column">




     <div class="widget widget_text group">
         <h3 class="h6">About Me</h3>

         <p>
         This is a simple web blog template. Feel free to edit views/partials/sidebar.ejs
         to change this text
         </p>
     </div>



     

</div> <!-- end sidebar -->
