<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/edit/addpost" method="post"><div class="container">
        <div class="row" id="row_style">
            <h4 class="text-xs-center">Submit new post</h4>
            <div class="col-md-4   offset-md-4">
                <div class="form-group">
                    <input name="posttitle" type="text" class="form-control" placeholder="Title">
                </div>
                <textarea name="postcontent" id="editor" cols="30" rows="10">Submit your text post here...</textarea>
                <br>

                <div class="form-group">
                    <button class="btn btn-primary" id="submit">Submit new post</button>
                </div>
            </div>
        </div>
    </div></form>

    <style>
        #row_style {
            margin-top: 30px;
        }

        #submit {
            display: block;
            margin: auto;
        }
    </style>

  </body>
</html>
